{% extends "layout/base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container d-flex flex-column">
    <div class="row vh-100">
        <div class="col-md-6 col-lg-4 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Forgot Password</h1>
                    <p class="lead">
                        Enter your email address to reset your password.
                    </p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form method="POST" action="{{ url_for('forgot_password') }}">
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email" required>
                                </div>
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-lg btn-primary">Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
