{% extends "layout/base.html" %}

{% block title %}Admin Reset Password{% endblock %}

{% block content %}

<div class="container">
    <h2>Reset Password</h2>
    <form method="POST" action="{{ url_for('reset_password', token=token) }}">
        <div class="mb-3">
            <label class="form-label">New Password</label>
            <input class="form-control form-control-lg" type="password" name="password" placeholder="Enter new password" required />
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-lg btn-primary">Reset Password</button>
        </div>
    </form>
</div>

{% endblock %}