<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar" data-simplebar="init">
		<div class="simplebar-wrapper" style="margin: 0px;">
			<div class="simplebar-height-auto-observer-wrapper">
				<div class="simplebar-height-auto-observer"></div>
			</div>
			<div class="simplebar-mask">
				<div class="simplebar-offset" style="right: 0px; bottom: 0px;">
					<div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
						<div class="simplebar-content" style="padding: 0px;">
							<a class="sidebar-brand" href="{{ url_for('user_routes.admin_dashboard') }}">
  								<span class="align-middle">Admin</span>
							</a>
							<ul class="sidebar-nav">
								<li class="sidebar-item active">
									<a class="sidebar-link" href="{{ url_for('user_routes.admin_dashboard') }}">
	  									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders align-middle">
											<line x1="4" y1="21" x2="4" y2="14"></line>
											<line x1="4" y1="10" x2="4" y2="3"></line>
											<line x1="12" y1="21" x2="12" y2="12"></line>
											<line x1="12" y1="8" x2="12" y2="3"></line>
											<line x1="20" y1="21" x2="20" y2="16"></line>
											<line x1="20" y1="12" x2="20" y2="3"></line>
											<line x1="1" y1="14" x2="7" y2="14"></line>
											<line x1="9" y1="8" x2="15" y2="8"></line>
											<line x1="17" y1="16" x2="23" y2="16"></line>
										</svg> 
										<span class="align-middle">Dashboard</span>
									</a>
								</li>

								<li class="sidebar-item">
									<a class="sidebar-link" href="{{ url_for('user_routes.admin_profile') }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user align-middle"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> <span class="align-middle">Profile</span>
									</a>
								</li>

								<li class="sidebar-item">
									<a class="sidebar-link" href="{{ url_for('user_routes.admin_login') }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-in align-middle"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path><polyline points="10 17 15 12 10 7"></polyline><line x1="15" y1="12" x2="3" y2="12"></line></svg> <span class="align-middle">Sign In</span>
									</a>
								</li>

								<li class="sidebar-item">
									<a class="sidebar-link" href="{{ url_for('user_routes.admin_register') }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus align-middle"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg> <span class="align-middle">Sign Up</span>
									</a>
								</li>

								<li class="sidebar-item">
									<a class="sidebar-link" href="pages-blank.html">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book align-middle"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg> <span class="align-middle">Blank</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#" aria-expanded="true">
										<i class="fa fa-wpforms" aria-hidden="true"></i><span>Forms</span>
										<i class="fa fa-angle-down" aria-hidden="true"></i>
									</a>
									<ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
										<li>
											<a href="#" class="sidebar-link">
											<span>Form Elements</span>
											</a>
										</li>
										<li>
											<a href="#" class="sidebar-link">
											<span>Form Layouts</span>
											</a>
										</li>
										<li>
											<a href="#" class="sidebar-link">
											<span>Form Editors</span>
											</a>
										</li>
										
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="simplebar-placeholder" style="width: auto; height: 422px;"></div>
		</div>
		<div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
			<div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
		</div>
		<div class="simplebar-track simplebar-vertical" style="visibility: visible;">
			<div class="simplebar-scrollbar" style="height: 331px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
		</div>
	</div>
</nav>
