<div class="col-12 col-lg-4 col-xxl-3 d-flex">
    <div class="card flex-fill w-100">
        <div class="card-header">

            <h5 class="card-title mb-0">Monthly Sales</h5>
        </div>
        <div class="card-body d-flex w-100">
            <div class="align-self-center chart chart-lg"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="chartjs-dashboard-bar" width="275" height="350" style="display: block; width: 275px; height: 350px;" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div>
</div>