<div class="col-12 col-md-12 col-xxl-6 d-flex order-1 order-xxl-2">
    <div class="card flex-fill w-100">        
        <div class="card-body px-4">	
            <div class="cards_header">
                <h2>Opportunity of the Week</h2>
                <div>
                    <button class="btn btn-green">Order Items</button>
                    <button class="btn btn-red">Reject Quote</button>
                </div>
            </div>
            <table class="table table-hover my-0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>Ship To</th>
                        <th>Recommended Items</th>
                        <th>Potential Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="radio" name="opportunity"></td>
                        <td>Turner</td>
                        <td>Los Angeles, CA</td>
                        <td>10</td>
                        <td>$234,056</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="opportunity"></td>
                        <td>Midnight Valley</td>
                        <td>Napa, CA</td>
                        <td>40</td>
                        <td>$947,205</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="opportunity"></td>
                        <td>JETSOL</td>
                        <td>Houston, TX</td>
                        <td>13</td>
                        <td>$346,009</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="opportunity"></td>
                        <td>Simmons</td>
                        <td>San Mateo, CA</td>
                        <td>28</td>
                        <td>$780,018</td>
                    </tr>
                    <tr class="selected">
                        <td><input type="radio" name="opportunity" checked=""></td>
                        <td>Honey Route</td>
                        <td>Austin, TX</td>
                        <td>29</td>
                        <td>$528,057</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>